.footer {
	width: 100%;
	position: relative;
	top: 9em;
	padding-top: 0;
	padding-bottom: 56px;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__about-realTalk {
	margin-top: 5px;
}

.footer-copyright {
	margin-top: 9.7px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: #000000;
}

.footer-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;
	color: #303030;
}

.footer-text span{
	margin-left: 5px;
}
.footer-text p {
margin-bottom: 12px;
}
.footer__links-bar {
	display: flex;
	flex-direction: column;
	position: relative;
}

.footer__links-bar .underline a:after {
	content: " ";
	position: absolute;
	background-color: #FFBA0A;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: -3px;
	display: block;
	bottom: -1px;
	opacity: 2;
	transition: .2s linear;
 }

.footer__links-pages {
	display: flex;
	flex-direction: row;
	gap: 0 64px;
}

.footer__title {
	margin-bottom: 10px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #000000;
	font-size: 16px;
	margin: 6px 0 0 0;
	line-height: 22px;
}

.footer__title a {
	font-size: 14px;
	line-height: 18px;
}

.footer__social-links {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 8px;
	margin-top: 3em;
}

.footer__links-pages a {
	font-size: 12px;
}

.footer__footer {
	width: 1140px;
	border-top: 1px solid #D5D8DA;;
	margin-top: 26px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 18px 0 0 0px;
}

.footer-copyright span img {
	width: 21px;
	height: 21px;
}

.footer__partners {
	display: flex;
	flex-direction: row;
	gap: 42px;
}

.footer__partner-paper {
	width: 43px;
	height: 35px;
	mix-blend-mode: luminosity;
}

.footer__partner-gdpr {
	height: 30px;
	width: 89px;
	border-radius: 0px;
}

.footer__partner-bootstrap {
	width: 133px;
	height: 25px;
}
