.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70.58px;
	padding: 15.24px 0 16.85px;
	background: #FFFFFF;
	z-index: 1;
	box-shadow: 0 3px 8px rgb(0 0 0 / 3%);
	z-index: 1000000;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-navigation {
	display: flex;
	text-decoration: none;
	align-items: center;
}

.lang-switcher {
	display: flex;
	align-items: baseline;
	width: 53.09px;
}

.lang-switcher__item.current-lang {
	color: #FFBA0A;
	font-weight: 500;
	width: 55px;
	height: 21px;
}

.lang-switcher__item.lang-item:hover {
	color: #FFBA0A;
	font-weight: 500;
}

.lang-item-en {
	width: 21px;
	height: 21px;
}

.lang-switcher__item {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	letter-spacing: 0.01em;
	color: #D5D8DA;
	transition: color .2s linear 0s;
}

.lang-switcher__divider {
	border: 1px solid #d5d8da;
	width: 2px;
	height: 10px;
	background-color: #D5D8DA;
	margin: 0 8px;
	border-radius: 2px;
}

.items-menu {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.items-menur ul {
	display: none;
	list-style: none;
	margin: 0;
}

.items-menu li {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
	color: #000000;
}

.items-menu li a {
	position: relative;
	padding: 0;
}

.main-navigation,
.item-menu {
	display: flex;
	align-items: center;
	font-weight: normal;
	justify-content: center;
}

.main-navigation .items-menu .common-btn {
	height: 36.895782470703125px;
	border-radius: 12px;
}

.main-navigation .items-menu .btn-how {
	width: 139.5623321533203px;
	border: 1px solid #FFBA0A;
	margin-right: 32.09px;
}

.main-navigation .items-menu .btn-how:hover {
	color: #000000;
	background-color: #FFBA0A;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
	transform: translateY(-2px);
}

.main-navigation .items-menu .btn-apply {
	width: 195.7080841064453px;
	background-color: #FFCA18;
	margin-right: 32.12px;
}

.main-navigation .items-menu .btn-apply:hover {
	background-color: #FFBA0A;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
	transform: translateY(-2px);
}

.main-navigation .underline a:after {
	content: " ";
	position: absolute;
	background-color: #FFBA0A;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: -3px;
	display: block;
	bottom: -1px;
	opacity: 0;
	transition: .2s linear;
}

.main-navigation li a:hover {
	color: #000000;
}

.main-navigation .underline a:hover:after {
	opacity: 1;
}